@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

$color-primary: #17202a;
$color-primary-dark: #001d3f;
$color-primary-light: #101d2c;

$color-white: #ffff;

$color-grey: #ecedee;
$color-grey-2: #858688;
$color-grey-3: #4f5050;
$color-grey-light: #b6b6b6;

$color-black: black;

$color-main: #f1f8ff;

$color-green: rgba(52, 173, 52, 0.863);
$color-green-dark: rgba(26, 97, 26, 0.753);

$default-font-size: 1.6rem;

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      //600px
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 48em) {
      //900px
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 64em) {
      //1200px
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      //1800px
      @content;
    }
  }
}

*,
*::after,
**::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1rem is 16px

  @include respond(tab-land) {
    font-size: 57%;
  }
  @include respond(tab-port) {
    font-size: 54%;
  }
  @include respond(phone) {
    font-size: 50%;
  }
}

a {
  &:link {
    text-decoration: none;
  }
}

// nProgress styling
#nprogress .bar {
  top: 0 !important;
  height: 3px;
}

#container {
  padding: 40px;
  background-color: grey;
  color: white;
}
#nprogress .bar {
  background: $color-primary-dark;
}

#nprogress .spinner-icon {
  border-top-color: $color-primary;
  border-left-color: $color-primary;
}

/* Loader */

// .loader {
//   border: 5px solid $color-primary-light;
//   border-top: 5px solid rgb(255, 255, 255);
//   border-radius: 50%;
//   width: 30px;
//   height: 30px;
//   animation: spin 2s linear infinite;
// }

// @keyframes spin {
//   0% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(360deg);
//   }
// }

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", cursive, sans-serif;
  background-color: $color-grey;
}

.logo {
  cursor: pointer !important;
}

main {
  background-color: $color-white;
  // height: 80vh;
  box-shadow: 0px 2.5rem 1.5rem 0.9rem rgba(133, 134, 136, 0.6);
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;

  @include respond(tab-land) {
    display: none;
  }
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-primary;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $color-grey-3;
}

.container {
  padding: 0 !important;
}

.navbar-toggler {
  display: none;
  @include respond(tab-land) {
    display: inline-block;
  }
}

.navbar-toggler {
  border: none !important;
  font-size: 2rem;

  &:focus {
    box-shadow: none !important;
  }
}

// buttons
.cta {
  &,
  &:link,
  &:visited {
    background-color: $color-primary;
    color: $color-grey;
    font-size: 1.3rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    padding: 2rem 2rem;
    border-radius: 1rem;
    border: 1px solid $color-grey;

    cursor: pointer;
    text-decoration: none;
  }

  &:hover {
    background-color: white;
    color: $color-black;
    border: 1px solid $color-grey;
  }

  &--src {
    padding: 2rem 2rem;
  }

  &--sec {
    background-color: $color-primary;
    color: $color-grey;
    font-size: 1.3rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    padding: 2rem 2rem;
    border-radius: 1rem;
    border: 1px solid $color-grey;

    cursor: pointer;
    text-decoration: none;
  }

  &-feature {
    background-color: rgba($color-primary, 0.6) !important;
    margin-top: 6rem;
    margin-right: 3rem;
    display: inline-block;

    cursor: pointer;
    text-decoration: none;

    &:hover {
      background-color: rgba($color-primary, 0.8) !important;
      color: $color-white !important;
    }
  }
}

//header
.header {
  &__search-box {
    font-size: $default-font-size;
    display: flex;
    // margin-right: 1.7rem;
  }

  &__search {
    background-color: $color-grey;
    border: 1px solid $color-grey;
    padding: 1.2rem;
    width: 36rem;
    margin-right: 1rem;
    border-radius: 2rem;

    &:focus {
      outline: none;
    }

    @include respond(tab-land) {
      display: none;
    }
  }
}

// toggle header
.nav-toggle {
  background-color: $color-primary;
  color: $color-white;
  padding: 8rem;

  &__list {
    list-style: none;
    font-size: $default-font-size;
    text-align: center;
  }

  &__item {
    margin-bottom: 1rem;
  }

  &__link {
    &,
    &:link,
    &:visited,
    &:focus {
      text-decoration: none;
      color: $color-white;
    }

    &:hover {
      color: $color-grey;
    }
  }
}

// Dropdown
.secondary {
  background-color: $color-white;
  border-bottom: 1px solid rgba($color-grey-3, 0.3);
  padding: 0.5rem;

  @include respond(tab-land) {
    display: none;
  }
}

.dropdown {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: $default-font-size;
}

.drop-list {
  position: relative;
  text-decoration: none;
}

.dropdown-item {
  text-align: center;
  font-size: $default-font-size;

  &:hover {
    background-color: rgba($color-primary, 0.8);
    color: $color-white;
  }
}

// Blog Feature Box
.feature {
  // padding: 1.5rem;
  padding-top: 2rem;
  @include respond(tab-port) {
    padding-top: 0;
  }
  background-color: $color-grey;

  &__box {
    background-image: url(/asset/pen-and-paper.jpg);
    background-size: cover;
    background-position: center; // to center the image
    align-items: center;
    text-align: center;
    padding: 4.5rem;
    border-radius: 1.5rem;

    &--header {
      user-select: none;
      font-size: 3rem;
      font-weight: 600;
      display: inline-block;
      background-image: linear-gradient(
        to right bottom,
        rgba($color-white, 0.85),
        rgba($color-grey, 0.85)
      );

      color: $color-grey-3;
      padding: 1rem 1.5rem;
      --webkit-box-decoration-break: clone;
      box-decoration-break: clone;

      &:hover {
        color: $color-grey-2;
      }
    }
  }

  &__svg {
    @include respond(tab-land) {
      width: 35rem;
    }

    &--box {
      @include respond(tab-port) {
        display: none;
      }
    }

    &--hide {
      display: none;
    }
  }
}

// Content section

.content {
  // margin: 4rem 0 4rem 0;

  &__box {
    background-color: $color-white;
    margin-top: 3rem;
  }
  &__main-heading {
    font-size: $default-font-size;
    font-weight: 900;
    color: $color-grey-2;
    padding-left: 1.2rem;
    margin-left: 1.2rem;
    margin-bottom: 1.5rem;
    border-left: 3px solid $color-primary;
  }

  &__row {
    padding: 2rem 0 0 2rem;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
  }

  &__row--books {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: all 0.6s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__poster {
    background-size: cover;
    background-position: center;
    height: 17rem;
  }

  &__heading--sub {
    font-size: 1.2rem;
    font-weight: 900;
    color: $color-grey-3;
  }

  &__book-link {
    text-decoration: none;
  }
}

.side-content {
  background-color: $color-grey;
  margin-top: 1rem;
  border-top-left-radius: 3.5rem;
  border-top-right-radius: 3.5rem;
  display: flex;
  flex-direction: column;

  @include respond(tab-land) {
    margin-top: 3rem;
    width: 100%;
  }

  &__heading {
    position: absolute;
    top: 2.5rem;
    left: 35%;
    transform: translate(-0.9%, -38%);
    text-align: center;
    font-size: $default-font-size;
    color: $color-grey-light;
    font-weight: 400;

    @include respond(tab-land) {
      left: 40%;
    }
  }

  &__head {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__v-line {
    border-top: 2px solid $color-grey-light;
    width: 3rem;
    height: 3rem;
    z-index: 1;

    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translate(-0.9%, -38%);
    text-align: center;

    &-lg {
      position: absolute;
      border-top: 2px solid $color-grey-light;
      width: 82%;
      height: 3px;
      z-index: 1;

      position: absolute;
      top: 4.5rem;
      left: 12%;
      transform: translate(-2.9%, -15%);
      text-align: center;

      margin-top: 6px;
    }
  }

  &__row {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    // align-items: flex-start;
    margin-top: 7rem;
    position: relative;
  }

  &__row--side {
    padding: 1.5rem;
    cursor: pointer;
  }

  &--floating {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__heading--sub {
    font-size: $default-font-size;
    font-weight: 900;
    color: $color-grey-3;
  }

  &__heading-side {
    // position: absolute;
    // margin-top: 1rem;
    margin-left: 1.2rem;
  }
}

// Footer styles

.footer {
  background-color: rgba($color-primary-light, 0.83);
  color: $color-white;
  margin-top: 0px;

  &__logo {
    &-box {
      text-align: center;
    }
    @include respond(tab-land) {
      width: 20rem;
      height: 20rem;
    }
  }

  &__navigation {
    border-top: 1px solid $color-grey;
    padding-top: 2rem;
    margin-left: 3rem;
    align-items: center;

    @include respond(tab-land) {
      margin-left: 0;
      // width: 80%;
      text-align: center;
    }
  }

  &__list {
    list-style: none;
    display: flex;
  }

  &__item {
    margin-right: 1.8rem;
  }

  &__link {
    &:link,
    &:visited {
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.2rem;
      display: inline-block;
    }

    &:hover {
      color: $color-grey-2;
    }
  }

  &__follow-section {
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-top: 3.4rem;
    user-select: none;

    @include respond(tab-land) {
      margin-bottom: 5rem;
    }

    a {
      text-decoration: none;

      i {
        color: $color-grey;
        font-size: 2.4rem;

        &:hover {
          color: $color-grey-2;
          cursor: pointer;
        }
      }
    }
  }

  &__description {
    border-top: 1px solid $color-grey;
    padding-top: 2rem;
    width: 80%;
    float: right;
    margin-right: 4rem;
    font-size: 1.2rem;
    user-select: none;
  }

  &__copyright {
    margin-top: 3rem;
    background-color: $color-primary;
    color: $color-white;
    height: 10rem;
    position: relative;

    &-text {
      font-size: $default-font-size;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
  }
}

.error-page {
  background: linear-gradient(to left bottom, $color-grey, $color-grey-light);
  display: flex;
  flex-direction: column;

  &__heading {
    font-size: 3rem;
    color: $color-black;
    font-weight: 900;
    text-align: center;
    margin-bottom: 4rem;
  }

  &__svg {
    &--img {
      width: 100%;
      // height: 6rem;
    }
  }
}

// content page styles
.preview {
  margin-top: 1rem;
  border: 1px solid $color-grey;
  background-color: $color-white;
  display: flex;
  font-size: $default-font-size;

  &__img {
    background-size: cover;
    background-position: center;
    width: 17rem;
    flex: 0;

    &--box {
      margin: 2rem;
      border: 1px solid $color-grey;
    }
  }

  &__details {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 5rem;
    float: right;
    align-items: center;
    font-size: 2rem;
  }
}

.details {
  user-select: none;
  font-size: $default-font-size;
  padding: 2rem;
  text-align: justify;
  text-justify: inter-word;

  &__heading {
    color: $color-grey-2;
    font-weight: 400;
    margin: 2rem 0 2rem 0;

    &:hover {
      color: $color-grey-3;
    }
  }
}

.button {
  font-size: $default-font-size;
  font-weight: 400;
  text-align: center;
  margin-bottom: 3rem;

  &-download {
    color: $color-green;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      color: $color-green-dark;
    }
  }
}

// Truncated Strings
.readMore {
  color: rgb(56, 56, 158);
  font-weight: 800;
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}

.hoverable:hover {
  opacity: 0.7;
}

.red-text {
  color: #f44336 !important;
}

.page-wrapper {
  padding-top: 20px;
}

.card.fj-card {
  // padding-top: 50px;
  .card-body-wrapper {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 2px 5px 25px rgba(0, 0, 0, 0.15);
    min-height: 280px;
    position: relative;
    z-index: 2;
    padding: 20px;
    padding-bottom: 40px;
  }

  .card-body {
    padding: 15px 0px 0px;

    .card-title {
      font-weight: bold;
      margin-bottom: 3px;
    }
  }

  .card-date {
    font-size: 13px;
  }

  .card-main-title {
    font-size: 22px;
  }

  .card-header {
    background-color: transparent;
    padding: 0px 0px 15px;
    img {
      --size: 45px;
      background-color: #fff;
      border: 1px solid #464646;
      border-radius: 50%;
      // box-shadow: 2px 5px 25px rgba(0, 0, 0, .15);
      // left: 10px;
      // position: absolute;
      top: calc(-1 * (var(--size) / 2));
      width: var(--size);
      height: var(--size);
    }
  }

  .card-button {
    border-radius: 10px;
    cursor: pointer;
    color: #ffffff;
    font-family: var(--font-family-primary);
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.15rem;
    padding-top: 1.5rem !important /* @TODO temp !!!*/;
    padding: 0.75rem 1.5rem;
    background-color: hsl(210, 5%, 41%);
    border-color: hsl(210, 5%, 36%);
    box-shadow: 0 5px 0 hsl(210, 5%, 20%);
    bottom: -45px;
    position: absolute;
    right: 1.5rem;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;

    &:hover {
      background-color: hsl(210, 5%, 51%);
      border-color: hsl(210, 5%, 41%);
      -webkit-transform: translateY(0.25rem);
      transform: translateY(0.25rem);
    }
  }

  &.fj-card-list {
    .card-body-wrapper {
      min-height: 180px;
      // position: relative;
      // z-index: 2;
      // padding: 20px;
      // padding-bottom: 40px;
    }

    .card-header {
      background-color: transparent;
      padding-bottom: 5px;
    }
  }
}

.card.fj-card.placeholder {
  color: transparent;
  .image-placeholder {
    height: 200px;
    width: 100%;
    background-color: #bebebe;
  }

  .card-title,
  .card-text,
  .card-date {
    background-color: #bebebe;
  }
}

.card {
  margin-bottom: 60px;
}

// HEADER STARTS
.fj-navbar.fj-nav-base {
  width: 100%;
  padding: 20px 0px;

  .fj-navbar {
    &-brand {
      color: black;
      font-size: 24px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: bold;
    }

    &-item {
      margin-left: 10px;
      margin-right: 10px;
    }

    &-link {
      color: black;
      letter-spacing: 0.8px;
      font-size: 18px;
      text-transform: uppercase;

      &.active {
        color: #dba919;
      }

      &:hover,
      &:focus {
        color: #dba919;
      }
    }
  }

  .fj-dropdown-menu {
    .fj-dropdown-item {
      color: #4e4e4e;

      &.active {
        color: #dba919;
      }
    }

    .fj-dropdown-toggle {
      color: white;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

.fj-navbar.fj-nav-base.fj-nav-default {
  padding: 30px;
  background-color: black !important;
}

.bg-transparent.menu-open {
  background-color: #2c3e50 !important;
}

.bg-transparent.menu-close {
  transition: 1s;
}
// HEADER ENDS

.card-header {
  display: flex;
  // justify-content: center;
  align-items: center;

  &-title {
    margin-bottom: 0;
  }
}

.hljs {
  padding: 20px 20px 10px;
  border-radius: 10px;
}

.code-filename,
.image-alt {
  opacity: 0.6;
  margin-top: 10px;
  font-style: italic;
  font-size: 14px;
}

.blog-image {
  margin-bottom: 10px;
  text-align: center;
}
.image-alt {
  margin-top: 3px;
}

.blog-detail-page {
  background-color: $color-white;
  box-shadow: 0px 2.5rem 1.5rem 0.9rem rgb(133 134 136 / 60%);
  font-size: 19px;

  .blog-detail-header {
    .lead {
      font-size: 17px;
    }
    &-title {
      font-size: 52px;
    }
  }
}

.admin-intro {
  .welcome-text {
    font-size: 18px;
  }
}

.dark {
  .card.fj-card {
    background-color: #232129;
    transition: color 0s ease-out 0s, background 0.2s ease-out 0s;
    .card-body-wrapper {
      background-color: #232129;
      transition: color 0s ease-out 0s, background 0.2s ease-out 0s;
    }

    .card-button {
      background-color: #9b5f5f;
    }
  }

  .fj-navbar.fj-nav-base {
    width: 100%;
    padding: 20px 0px;

    .fj-navbar {
      &-brand {
        color: #ffffff;
      }

      &-link {
        color: #ffffff;
      }
    }
  }
}

.day-night-toggle.react-toggle {
  &.react-toggle--checked:hover {
    &:not(.react-toggle--disabled) .react-toggle-track {
      background-color: black;
    }
  }

  .react-toggle-track {
    background-color: black;
    &:hover {
      background-color: black;
    }

    &-x,
    &-check {
      right: 8px;
      width: 15px;
      height: 15px;

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.page-footer {
  padding: 40px;
  font-size: 20px;
  text-align: center;

  a {
    color: #63696e;
  }
}
